<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fetchRecipeList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>727A0C332D478C1700941539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727A0C452D478C1800941539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>727A0C4F2D478C1800941539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
